  <button class="btn btn-add" type="button"
  (click)="select()"
  [style.top]="person.locationY"
  [style.left]="person.locationX"
   style="display:block;position:absolute;padding:2px 5px;opacity:0.7;">
    <ion-icon name="person"></ion-icon>
  </button>