<ion-header>
  <ion-toolbar>
    <ion-title>
      Request Drone Flight
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [hidden]="showPicker">
  <ion-list>
    <ion-item>
      <button full ion-button (click)="next()">Request Flight With IFB Drone</button>
    </ion-item>
    <ion-item>
      <button full ion-button color="secondary">Request Flight With Drone Flight Company</button>
    </ion-item>
    <ion-item>
      <button full ion-button color="danger">Send Adjuster</button>
    </ion-item>
  </ion-list>
  <ion-card>
    <ion-card-content>
      Note that submitting a flight plan and claim will alert <b>Andy Jenkins</b>, via <b>Text</b> (preferred contact method)
      of our intent to inspect his property with a drone. The flight plan will be finalized upon the client's approval.
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-content [hidden]="!showPicker">
  <ion-list>
    <ion-item>
      <ion-label>Schedule Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="scheduledFlight.date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Schedule Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="scheduledFlight.time"></ion-datetime>
    </ion-item>
  </ion-list>
  <button ion-button full (click)="submit()">Submit Flight Plan &amp; Claim</button>
</ion-content>