<ion-header>
  <ion-navbar>
    <ion-title>
      Hail Yes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-header>Recent Hail Map</ion-card-header>
    <ion-card-content class="ion-card-content">
      <div style="position:relative;">
        <span *ngFor="let person of people">
          <app-map-person [person]="person" (selected)="changeSelectedPerson($event)"></app-map-person>
        </span>
        <img style="width:100%;" src="assets/img/hail-map-3.png">
      </div>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let person of people" [ngClass]="person==selectedPerson ? 'active' : ''">
      <app-row-person [person]="person"> </app-row-person>
    </ion-item>
  </ion-list>
</ion-content>