<h2>
  {{person.name}} - {{person.policy}} -
    <span *ngIf="person.severity=='High';else elseBlock" class="danger">
      <ion-icon name="alert" style="font-size:smaller"></ion-icon> {{person.severity}}
  </span>
  <ng-template #elseBlock>{{person.severity}}</ng-template>
</h2>
<p *ngIf="selectedPerson != person || currentAppState=='init'">
  <button ion-button class="btn btn-add" (click)="requestDroneFlight()">Request Drone Flight</button>
</p>
<p *ngIf="selectedPerson == person && currentAppState=='waiting'">
  <span>Claim #0000174062 <br /> Waiting For Approval</span>
  <br />
  <button ion-button (click)="approve()">Approve</button>
  <button ion-button color="danger">Cancel</button>
</p>
<p *ngIf="selectedPerson == person && currentAppState=='scheduled'">
  <span>Claim #0000174062 <br /> <span (click)="fly()">Flight Scheduled Oct 11 @ 1:00pm</span></span>
</p>
<p *ngIf="selectedPerson == person && currentAppState=='done'">
  <button ion-button color="secondary" (click)="review()">Review Drone Imagery</button>
</p>
