<ion-header>
  <ion-navbar>
    <ion-title>
      Review Drone Imagery
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header>3d Model</ion-card-header>
      <ion-card-content>
        <iframe width="100%" height="480" src="https://sketchfab.com/models/08ce086db7ec4d6e81fb4dab0c18129a/embed?autostart=1&autospin=0.5"
          frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="" autostart="1"
          autospin="0.5"></iframe>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>Roof &amp; Damage Analysis</ion-card-header>
      <ion-card-content>
        <iframe width="100%" height="480" src="https://cloud.kespry.com/app/insurance/map/missions/32550?lat=41.645972&lng=-93.823795&zoom=20.59"
          frameborder="0"></iframe>
        <ion-list>
          <ion-item>
            <ion-note item-start>
              Total Square Footage
            </ion-note>
            3448 (ft2)
          </ion-item>
          <ion-item>
            <ion-note item-start>
              Percent Damaged
            </ion-note>
            20%
          </ion-item>
          <ion-item>
            <ion-note item-start>
              Estimated Repair
            </ion-note>
            $12567
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
</ion-content>