<div class="panel panel-default" style="border-radius:5px;">
  <div class="panel-heading">Schedule Drone Flight</div>
  <div class="panel-body">
<form #myForm="ngForm" novalidate>
    <my-date-picker name="mydate" [options]="myDatePickerOptions"
                    [(ngModel)]="model" required></my-date-picker>
</form>
  </div>
</div>